* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font: 400 15px/2 "Lato", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.ba-container {
    width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

.ba-container--hero {
    width: 600px;
}

/*------------HEADER-------*/

.ba-header {
    background:#ADB8CC url("../img/backgrounds/hero-bg.jpg") 50% no-repeat;
    background-size: cover;
    padding-top: 285px;
    color: #fff;
    min-height: 100vh;
}

.ba-logo {
    display: inline-block;
    margin-bottom: 100px;
}

.ba-logo img {
    display: block;
    margin: 0 auto;
}

.ba-title {
    font-size: 3rem;
    letter-spacing: 0.16em;
    font-family: "Lato-Bold";
    margin-bottom: 50px;
}

.ba-desc {
    line-height: 2em;
    margin-bottom: 240px;
}

.ba-scroll {
    display: inline-block;
    margin-bottom: 115px;
}

.ba-scroll img  {
    display: block;
}

/*---------MAIN---------*/

.ba-section {
    padding: 160px 0;
    color: #3c3c3c;
}

.ba-section--services {
    background: #AAB8CE url("../img/backgrounds/services.jpg") 50% no-repeat;
    background-size: cover;
    padding: 130px 0 110px;
    color: #fff;
}

.ba-box {
    border: 2px solid #3c3c3c;
    border-top: none;
    position: relative;
    padding: 80px 170px 30px;
}

.ba-box:before, .ba-box:after {
    content: '';
    position: absolute;
    width: 25%;
    top: 0;
    border: 1px solid #3c3c3c;
}

.ba-box:before {left: 0}

.ba-box:after {right: 0}

.ba-box__title {
    font-size: 34px;
    letter-spacing: 0.16em;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
}

.ba-section--about p:nth-of-type(2) { padding: 0 60px; }

.ba-box p {
    text-transform: none;
    font-family: "Lato-Light";
}

.ba-section--whatWeDo .ba-box {padding-bottom: 90px}

.ba-box__elem + .ba-box__elem {
    padding-top: 100px;
}

.ba-elem__img{
    width: 80px;
    height: 83px;
    display: block;
    margin: 0 auto;
}

.ba-elem__img path {
    fill: #3c3c3c;
}

.ba-elem__title {
    display: inline-block;
    font-family: "Lato-Bold";
    font-size: 20px;
}

.ba-elem__img, .ba-elem__title {margin-bottom: 35px}

.ba-block__item {
    height: 240px;
    background-size: cover;
    overflow: hidden;
}